* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", serif;
}
/* ====================common (thuộc tính chung )==================== */
.container {
  width: 1170px;
  margin: 0 auto; /*căn giữa*/
  max-width: calc(
    100% - 48px
  ); /*cách lề mỗi bên 24px, khi thu nhỏ trình duyệt thì không bị sát lề phần nội dung*/
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block; /*do thẻ a là thẻ inline nên phải đổi qua inline-block để can thiệp kích thước*/
  min-width: 205px;
  line-height: 60px; /*khoảng cách*/
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section--heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section--desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 18px;
}
/* ====================header==================== */
.header {
  padding-top: 30px;
  background: #10375c;
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 0 21px; /*khi đo trên figma các chữ cách nhau 42px, khi ta sử dụng padding thì chia đôi ra */
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor; /*thay thế cho font-weight*/
  color: #fff;
}
.navbar__link--active::before {
  content: "";
  display: inline-block; /*xét kích thước*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 8px;
  bottom: 3px;
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.header__action--login {
  margin-right: 7px;
  /* do padding ta dùng chung với .navbar__link đã cách 21px rồi; theo thiết kế là cách 28px nên ta chỉ cần cách thêm 7px*/
}
/* ====================hero==================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1; /*chiếm hết không gian còn lại*/
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 22px;
}
.hero__row {
  margin-top: 38px;
  /* do button và thẻ span đã có cách nhau 1 đoạn nhỏ, nên ta dùng display:flex để thu hẹp lại kịch nhau, sau đó dùng gap để dãn ra */
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1; /*ảnh 1 đè lên ảnh 2*/
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* ====================service==================== */
.service {
  /* dùng padding có thể đổ màu mà không bị sát vào chữ */
  padding: 170px 0;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 0 auto;
  /* khi ta giới hạn độ rộng thì nó sẽ không còn căn giữa, do thẻ p là thẻ block nó sẽ căn giữa trong khung chứa nó; vì vậy sử dụng margin để căn giữa */
}
.service-item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 21px;
  transition: 0.25s;
}
.service-item:hover {
  position: relative; /*do ban đầu các item đè lên nhau khi hover nên ta dùng relative để không còn bị đè*/
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  /* sử dụng display: flex để canh chỉnh vị trí của icon khi có khung bên ngoài với nó */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /*khung bên ngoài không bị méo*/
  margin-right: 19px;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 55px;
}
