* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", serif;
}
/* ====================common (thuộc tính chung )==================== */
input,
textarea,
select,
button {
  /* do các thẻ này không có kế thừa nên phải quy định */
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1170px;
  margin: 0 auto; /*căn giữa*/
  max-width: calc(
    100% - 48px
  ); /*cách lề mỗi bên 24px, khi thu nhỏ trình duyệt thì không bị sát lề phần nội dung*/
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block; /*do thẻ a là thẻ inline nên phải đổi qua inline-block để can thiệp kích thước*/
  min-width: 205px;
  line-height: 60px; /*khoảng cách*/
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section--heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section--desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 18px;
}
.controls {
  display: flex;
  gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
}
.control__btn:hover {
  background: #2e80ce;
  border: #2e80ce;
  color: #fff;
}
.control-icon--next {
  /* xoay chiều mũi tên */
  rotate: 180deg;
}
/* ====================header==================== */
.header {
  padding-top: 30px;
  background: #10375c;
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 0 21px; /*khi đo trên figma các chữ cách nhau 42px, khi ta sử dụng padding thì chia đôi ra */
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor; /*thay thế cho font-weight*/
  color: #fff;
}
.navbar__link--active::before {
  content: "";
  display: inline-block; /*xét kích thước*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 8px;
  bottom: 3px;
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.header__action--login {
  margin-right: 7px;
  /* do padding ta dùng chung với .navbar__link đã cách 21px rồi; theo thiết kế là cách 28px nên ta chỉ cần cách thêm 7px*/
}
/* ====================hero==================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1; /*chiếm hết không gian còn lại*/
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 22px;
}
.hero__row {
  margin-top: 38px;
  /* do button và thẻ span đã có cách nhau 1 đoạn nhỏ, nên ta dùng display:flex để thu hẹp lại kịch nhau, sau đó dùng gap để dãn ra */
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1; /*ảnh 1 đè lên ảnh 2*/
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* ====================service==================== */
.service {
  /* dùng padding có thể đổ màu mà không bị sát vào chữ */
  padding: 170px 0;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 18px auto 0;
  /* khi ta giới hạn độ rộng thì nó sẽ không còn căn giữa, do thẻ p là thẻ block nó sẽ căn giữa trong khung chứa nó; vì vậy sử dụng margin để căn giữa */
}
.service-item {
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  padding: 21px;
  transition: 0.25s;
}
.service-item:hover {
  position: relative; /*do ban đầu các item đè lên nhau khi hover nên ta dùng relative để không còn bị đè*/
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  /* sử dụng display: flex để canh chỉnh vị trí của icon khi có khung bên ngoài với nó */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /*khung bên ngoài không bị méo*/
  margin-right: 19px;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.service__btn {
  margin-top: 55px;
}
/* ====================work==================== */
.work {
  padding: 100px 0 100px;
  background: #f6fbff;
}
.work__desc {
  width: 468px;
}
.work__list {
  /* ta coi thiết kế trong figma nếu nằm gọn trong các layouts grid thì nên dùng display grid */
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
}
.work-item:hover {
  border-color: #2e80ce;
  transition: 0.25s;
  transform: translateY(-16px);
  /* dịch chuyển lên xuống theo trục Y là trục dọc, lên trên là âm */
}
.work-item h3 {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}
.work-item__desc {
  font-size: 1.6rem;
  margin-top: 28px;
}
.work-item__more {
  display: inline-block;
  /* do thẻ a là thẻ inline nên không thêm margin:top do đó ta phải thêm inline-block */
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 18px;
}
/* ====================about==================== */
.about {
  padding: 170px 0 291px;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex; /*bỏ khoảng hở nhỏ dưới bức ảnh*/
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}
.about-content__btn {
  margin-top: 38px;
}
/* ====================team==================== */
.team-header {
  text-align: center;
  margin: 0 auto; /*căn giữa button*/
}
.team__cta {
  margin-top: 38px;
}
.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}
/* hiệu ứng khi hover vào item */
.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}
.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}
.team-item__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 12px;
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}
.team__control {
  margin-top: 38px;
  justify-content: center;
}
/* ====================install mobile==================== */
.install {
  padding: 265px 0 170px;
}
.install__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background: #2e80ce;
  height: 427px;
  padding: 0 70px;
}
.install__img {
  position: absolute;
  width: 284px;
  height: 522px;
  object-fit: cover;
  bottom: 0;
}
.install__content {
  min-width: 586px;
}
.install__desc,
.install__heading {
  color: #fff;
}
.install__heading {
  width: 489px;
}
.install__row {
  margin-top: 38px;
  display: flex;
  gap: 38px;
}
/* ====================blog==================== */
.blog {
  padding-bottom: 170px;
}
.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content {
  width: 40%;
}
.blog__heading {
  width: 470px;
}
.blog__more {
  /* thẻ a là thẻ inline nên phải đổi qua inline-block mới thêm padding hoặc margin */
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  padding: 28px 0;
  text-underline-offset: 5px; /*điều chỉnh vị trí dấu gạch dưới chữ*/
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.blog-item {
  width: 270px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e8ebee;
  overflow: hidden;
  /* ảnh không bị trồi ra ngoài */
  /* không sử dụng height là vì về sau nội dung có thể nhiều hơn */
  /* height: 375px; */
}
.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}
.blog-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  transition: 0.5s;
}
.blog-item__wrap {
  height: 172px;
  overflow: hidden;
  /* khi ta di chuột vào ảnh sẽ không che chữ phía dưới */
}
.blog-item__body {
  padding: 18px 22px;
}
.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}
.blog-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
  margin-top: 10px;
}
.blog-item__more {
  display: inline-block;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 12px;
}
.blog-item__more:hover {
  color: #2e80ce;
}
/* ====================appointment==================== */
.appointment__inner {
  padding: 100px 179px;
  background: #f6fbff;
  text-align: center;
}
.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  margin: 18px auto 0;
  background-color: #2e80ce;
}
.appointment__desc {
  text-align: center;
  width: 617px;
  margin: 18px auto 0;
}
.appointment__btn {
  margin-top: 38px;
}
/* ====================footer==================== */
.footer {
  padding-top: 100px;
  margin-top: 170px;
  background: #10375c;
  font-family: "Open Sans", sans-serif;
}
.footer__top {
  display: grid;
  /* kích thước trên figma là 2 cột giữa là 134 ta lấy đó chia cho 1170 rồi lấy % */
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}
.footer__desc {
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 21px;
}
.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  white-space: nowrap; /*không xuống hàng*/
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__list {
  margin: 20px 0 28px;
}
.footer__item {
  /* các thẻ li cách nhau 10px */
  margin-bottom: 10px;
}
.footer__social {
  display: flex;
  gap: 10px;
  margin: 20px 0 28px;
}
.footer__social-btn {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}
.footer__social-btn:hover {
  background-color: #2e80ce;
  color: #fff;
}
.footer-form {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}
.footer-form__input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}
.footer-form__submit:hover {
  cursor: pointer;
}
.footer__copyright {
  border-top: 1px solid #406181;
}
.footer__copyright-text {
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  padding: 28px 0 42px;
}
